// Colors
$dark-gray: #333;
$ship-blue: #5695c2;
$catskill-white: #f0f6fa;
$charcoal-dark-blue: #353f50;

//FONT SIZE
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
